

table {
  width: 200px;
  margin-top: 20px;
}

th, td {
  border: 1px solid #85088a;
  padding: 20px;
  text-align: center;
}
h1 {
  background-color: #eb17bd; 
  color: #020000; 
  text-align: right;
  padding: 45px;
}
